<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home Prices predicting app</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body style="background: #FFFFFF">
 <div class="login">
	<h1>Home Prices predicting app</h1>
	<h2>Created by Bhavneesh Sharma: DSPT3, Lambda School</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Overall quality" placeholder="Overall quality (1-10)" required="required" />
	<br>
        <input type="text" name="Ground floor living area in square feet" placeholder="Ground floor living area in square feet" required="required" size=50 />
	<br>
	<input type="text" name="Basement size in square feet" placeholder="Basement size in square feet" required="required" size=50 />
	<br>
	<input type="text" name="First floor size in square feet" placeholder="First floor size in square feet" required="required" size=50 />
	<br>
        <input type="text" name="Garage Area in square feet" placeholder="Garage Area in square feet" required="required" size=50 />
	<br>
	<input type="text" name="Number of cars in garage" placeholder="Number of cars in garage" required="required" size=50 />
	<br>
	<input type="text" name="Lot Area" placeholder="Lot Area" required="required" size=50 />
	<br>
	<input type="text" name="Home age in years" placeholder="Home age in years" required="required" size=50 />
	<br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Get Home price prediction</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
